.Title {
  border: 2px solid black;
  border-radius: 20px;
  background-color: #55dfa8;
  width: 140px;
  height: 40px;
  text-align: center;
  margin: 0;
  margin-top: 19px;
  margin-right: auto;
  margin-left: auto;
  /*padding-top: 20px;*/
  font-weight: bold;
}
.Navbar {
  display: flex;
  background-color: #0ebe6c;
  height: 80px;
  margin-top: 0px;
  font-size: 28px;
}

.SignInButton {
  width: 12%;
  min-width: 150px;
  margin-top: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.SignInButtonDiv {
  text-align: center;
}

.SignInButton:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.SignInButton:active {
  transform: translateY(-1px);
}

