.Title {
    text-decoration: none;
    color: #000;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #d8e0dd;
    width: 140px;
    height: 40px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(155, 151, 151, 0.1);
  }

  .Background {
    position: fixed;
    width: 100%; 
    height: 100%;
    filter: blur(10px) brightness(70%);
    z-index: -1;
    scale: 110%;
  }

  .Navbar {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    background-color: #222524;
    height: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 28px;
    z-index: 5;
  }
  
  .Main {
    margin-top: 90px;
  }

  .SignInButton {
    position: absolute;
    top: 18px;
    right: 10px;
    width: 8%;
    min-width: 120px;
    justify-content: flex-end;
    height: 45px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 2px;
    border-style: solid;
    border-color: #000000;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .SubmitButton {
    width: 12%;
    min-width: 120px;
    max-width: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 2px;
    border-style: solid;
    border-color: #23c483;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .CancelButton {
    margin-left: 10px;
    width: 12%;
    min-width: 120px;
    max-width: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 2px solid;
    border-color: #d82d2d;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  
  .ButtonDiv {
    text-align: center;
  }
  
  .SignInButton:hover {
    background-color: #000302;
    box-shadow: 0px 15px 20px rgba(20, 223, 105, 0.664);
    color: #fff;
  }
  
  .SignInButton:active {
    transform: translateY(-1px);
    background-color: #20a771;
  }

  .SubmitButton:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.5);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .SubmitButton:active {
    transform: translateY(-1px);
    background-color: #20a771;
  }

  .CancelButton:hover {
    background-color: #d82d2d;
    box-shadow: 0px 15px 20px rgba(165, 28, 28, 0.5);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .CancelButton:active {
    transform: translateY(-1px);
    background-color: #eb1c1c;
  }
  
  .InnerFormDiv {
    margin: auto;
    margin-top: 40px;
    width: 240px;
    height: 245px;
    padding-top: 10px;
    border: 2px solid;
    border-color: #000;
    border-radius: 40px;
    box-shadow: 0px 15px 20px rgba(34, 37, 36, 0.6);
    background-color: rgba(34, 37, 36, 0.8);
  
  }

  .form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #000000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
  
  table { /*deneme tablosu*/
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgba(34, 37, 36, 0.7);
    border-radius: 20px;
  }
  
  td {
    width: 250px;
    border:1px solid black;
  }
  
  