.Title {
    text-decoration: none;
    color: #000;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #55dfa8;
    width: 140px;
    height: 40px;
    text-align: center;
    margin: auto;
    font-weight: bold;
  }
  .Navbar {
    display: flex;
    background-color: #0ebe6c;
    height: 80px;
    margin-top: 0px;
    font-size: 28px;
  }
  
  .SignInButton {
    width: 12%;
    min-width: 150px;
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 40px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .SignInButtonDiv {
    text-align: center;
  }
  
  .SignInButton:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .SignInButton:active {
    transform: translateY(-1px);
    background-color: #20a771;
  }
  
  .form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #000000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
  
  table { /*deneme tablosu*/
    margin-left: auto;
    margin-right: auto;
  }
  
  td {
    width: 250px;
    border:1px solid black;
  }
  
  