.Title {
    text-decoration: none;
    color: #000;
    border: 2px solid black;
    border-radius: 20px;
    background: linear-gradient(90deg, rgb(150, 54, 194), rgb(31, 130, 184));
    color: black;
    width: 140px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    box-shadow: -10px 6px 15px rgba(150, 54, 194, 0.3), 10px 6px 15px rgba(31, 130, 184, 0.3);
  }

  .Background {
    position: fixed;
    width: 100%; 
    height: 100%;
    filter: blur(28px) brightness(70%);
    z-index: -10;
    scale: 110%;
    top: 20px;
    left: 0;
  }

  .Navbar {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222524;
    height: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 2;
    box-shadow: 0px 10px 45px rgba(174, 10, 224, 0.3);
    border-bottom: 2px solid black;
  }
  
  .Main {
    margin-top: 90px;
    color: white;
  }

  .MainButton1 {
    margin-right: 8px;
    width: 130px;
    justify-content: flex-end;
    height: 45px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 2px;
    border-style: solid;
    border-color: #000000;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .MainButton2 {
    
    width: 130px;
    justify-content: flex-end;
    height: 45px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 2px;
    border-style: solid;
    border-color: #000000;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .SubmitButton {
    width: 12%;
    min-width: 120px;
    max-width: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #ffffff;
    background-color: #000000;
    border: 2px;
    border-style: solid;
    border-color: #23c483;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .CancelButton {
    margin-left: 10px;
    width: 12%;
    min-width: 120px;
    max-width: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #ffffff;
    background-color: #000000;
    border: 2px solid;
    border-color: #d82d2d;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  
  .ButtonDiv {
    text-align: center;
  }
  
  .MainButton1:hover {
    background-color: #000302;
    box-shadow: 0px 10px 10px rgba(10, 135, 194, 0.527);
    color: #fff;
  }

  .MainButton2:hover {
    background-color: #000302;
    box-shadow: 0px 10px 10px rgba(166, 9, 228, 0.464);
    color: #fff;
  }
  

  .SubmitButton:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.5);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .SubmitButton:active {
    transform: translateY(-1px);
    background-color: #20a771;
  }

  .CancelButton:hover {
    background-color: #d82d2d;
    box-shadow: 0px 15px 20px rgba(165, 28, 28, 0.5);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .CancelButton:active {
    transform: translateY(-1px);
    background-color: #eb1c1c;
  }
  
  .InnerFormDiv {
    margin: auto;
    width: 270px;
    height: 350px;
    padding-top: 10px;
    border: 2px solid;
    border-color: #000;
    border-radius: 40px;
    box-shadow: 0px 15px 20px rgba(34, 37, 36, 0.6);
    background-color: rgba(34, 37, 36, 0.8);
  }

  .form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #ffffff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1b1b1be7 inset !important;
  -webkit-text-fill-color: white !important;
}
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
  
  .GameTable { 
    position: relative;
    top: 40px;
    border-collapse: collapse;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: rgba(34, 37, 36, 0.55);
    border-radius: 6px;
  }
  
  .GameTable th {
    height: 30px;
  }

  .GameTable tr {
    border: 2px solid black;
    height: 40px;
  }

  .GameTable td {
    text-align: center;
    width: 200px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .GameTable td img {
    display: block; /* Padding'i sıfırlamak için */
  }

  .GameTable td.image-cell {
    padding: 0; /* Görüntü hücreleri için padding kaldırıldı */
  }

  hr {
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    height: 2px;
    border: none
  }
  
  .SignUpLink {
    display: inline-block;
    color: rgb(18, 154, 196);
    margin-top: 5px;
  }
  .LoginLink {
    display: inline-block;
    color: rgb(18, 154, 196);
    margin-top: 5px;
  }

  .form {
    position: relative;
    top: 40px;
  }
  
  .search-bar-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    z-index: 3;
    margin-right: 30px;
    margin-left: 30px;
  }

  .Username-part {
    background-color: #eb1c1c00;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 0.1s ease-in-out;
  }

  .Username-field {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    border: 0;
    font-size: 18px;
    margin-left: 10px;
  }
  
  .Username-field-bottom {
    background-color: #333333;
    width: 115px;
    opacity: 0;
    gap: 5px;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    top: 100%;
    left: 0;
    
  }

  .Username-field-bottom button{
    font-size: 15px;
    height: 30px;
    width: 100%;
    text-align:start;
    transition: background-color 0.2s ease-in-out;
    color: white;
    border: 0;
    background-color: #333333;
    cursor: pointer;
  }
  
  .Username-field-bottom button:hover{
    background-color: rgba(129, 9, 177, 0.464);
  }

  .Username-part:hover {
    background-color: rgb(54, 54, 54);
  }

  .Username-part:focus-within {
    background-color: rgb(54, 54, 54);
  }

  .Username-part:focus-within .Username-field-bottom {
    opacity: 1;
    visibility: visible;
  }